<ion-header>
  <ion-navbar>
    <!--<button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>-->
    <ion-title>SESA OnSiteX</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<!-- Colors -->
<button ion-button (click)="pushPage(0)">Create Account</button>

<button ion-button color="secondary" (click)="pushPage(1)">Login</button>

<button ion-button color="danger">Danger</button>

<button ion-button color="light">Light</button>

<button ion-button color="dark">Dark</button>

<!-- Shapes -->
<button ion-button full>Full Button</button>

<button ion-button block>Block Button</button>

<button ion-button round>Round Button</button>

<!-- Outline -->
<button ion-button full outline>Outline + Full</button>

<button ion-button block outline>Outline + Block</button>

<button ion-button round outline>Outline + Round</button>

<!-- Icons -->
<button ion-button icon-left>
  <ion-icon name="star"></ion-icon>
  Left Icon
</button>

<button ion-button icon-right>
  Right Icon
  <ion-icon name="star"></ion-icon>
</button>

<button ion-button icon-only>
  <ion-icon name="star"></ion-icon>
</button>

<!-- Sizes -->
<button ion-button large>Large</button>

<button ion-button>Default</button>

<button ion-button small>Small</button>
</ion-content>
  <!--The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>-->
