<ion-header>
  <ion-navbar>
    <!-- <ion-title> {{"report_history_title" | translate}} </ion-title> -->
    <ion-title class="app-title">
      <span class="app-page-title">{{"report_history_title" | translate}}</span>
      <span class="app-user" *ngIf="ud.getTechName()">{{ud.getTechName()}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- <div #fixed ion-fixed></div>
<ion-content padding [ngStyle]="{'margin-top': fixedHeight}"> -->
<!-- <div #fixed ion-fixed></div> -->
<ion-content padding class="page-content report-history-page-content" (swipe)="tabServ.handleSwipe($event)" *ngIf="pageReady">
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)"> -->
    <!-- <ion-refresher-content pullingText="Pull to refresh..." refreshingText="Refreshing..."></ion-refresher-content> -->
    <!-- <div class="waiting-clock" *ngIf="!pageReady">
      <clock></clock>
    </div> -->
    <div class="report-history-container">
      <ion-list class="reportList">
        <ion-item-group class="report-history-group-date" *ngFor="let shift of shifts; let i=index">
          <ion-item-divider class="report-history-divider-date" color="light">
            <ion-icon class="shft-num-icon">{{numChars[shift.shift_number]}}&nbsp;&nbsp;</ion-icon>
            &nbsp;&nbsp;{{shift.getStartTime().format("ddd, MMM D")}}&nbsp;&nbsp;
            <ion-note>{{shift.getNormalHours()}} Hrs</ion-note>
            <button class="ionic-button-icon-outline ion-button-like" ion-button icon-only item-end (tap)="addNewReportForShift(shift)">
              <ion-icon class="ionic-icon-outline" name='ios-document-outline' color="primary"></ion-icon>
            </button>
          </ion-item-divider>
          <!-- <div class="report-history-reports-subcontainer" *ngIf="filtReports[filterKeys[i]].length">
            <div class="report-and-reportother-container" *ngFor="let report of filtReports[filterKeys[i]]"> -->
          <div class="report-history-reports-subcontainer" *ngIf="shift.getAllShiftReports()">
            <div class="report-and-reportother-container" *ngFor="let report of shift.getAllShiftReports(); let i=index">
              <ion-item-sliding #item{{i}} class="report-history-list-item-sliding" *ngIf="report.type===undefined || report.type==='Work Report'">
                <ion-item class="report-history-list-item" (tap)="itemTapped($event, report, shift)">
                  <div class="report-history-report-item item-group-id" *ngIf="prefs.getShowID()">
                    <span class="report-history-report-item-header item-id-label">ID</span>
                    <span class="report-history-report-item-data item-id-data">{{report._id}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowRev()">
                    <span class="report-history-report-item-header item-rev-label">Rev</span>
                    <span class="report-history-report-item-data item-rev-data">{{report._rev}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowTimes()">
                    <span class="report-history-report-item-header item-rev-label">Date</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.report_date}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowTimes()">
                    <span class="report-history-report-item-header item-rev-label">Start</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.time_start}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowTimes()">
                    <span class="report-history-report-item-header item-rev-label">End</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.time_end}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Client</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.client}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Location</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">LocID</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location_id}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'hours_header' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.repair_hours}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'report_label_wo_number' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.work_order_number}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'report_label_unit_number' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.unit_number}}</span>
                  </div>
                  <div class="report-history-report-notes-item">
                    <span class="report-history-report-item-header">{{'report_label_notes' | translate}}&nbsp;&nbsp;</span>
                    <div class="report-history-notes-data">
                      <p>{{report.notes}}</p>
                    </div>
                  </div>
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="danger" (tap)="deleteWorkOrder($event, report, shift)">
                    <ion-icon name="trash"></ion-icon>
                    {{"delete" | translate}}
                  </button>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding #item{{i}} class="report-history-list-item-sliding" *ngIf="report.type==='Travel'">
                <ion-item class="report-history-list-item" (tap)="itemTapped($event, report, shift)">
                  <div class="report-history-report-item item-group-id" *ngIf="prefs.getShowID()">
                    <span class="report-history-report-item-header item-id-label">ID</span>
                    <span class="report-history-report-item-data item-id-data">{{report._id}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowRev()">
                    <span class="report-history-report-item-header item-rev-label">Rev</span>
                    <span class="report-history-report-item-data item-rev-data">{{report._rev}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowTimes()">
                    <span class="report-history-report-item-header item-rev-label">Date</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.report_date}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Client</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.client}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Location</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">LocID</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location_id}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'travel' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.travel_location}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'travel_hours' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.time}}</span>
                  </div>
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="danger" (tap)="deleteOtherReport($event, report, shift)">
                    <ion-icon name="trash"></ion-icon>
                    {{"delete" | translate}}
                  </button>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding #item{{i}} class="report-history-list-item-sliding" *ngIf="report.type==='Training'">
                <ion-item class="report-history-list-item" (tap)="itemTapped($event, report, shift)">
                  <div class="report-history-report-item item-group-id" *ngIf="prefs.getShowID()">
                    <span class="report-history-report-item-header item-id-label">ID</span>
                    <span class="report-history-report-item-data item-id-data">{{report._id}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowRev()">
                    <span class="report-history-report-item-header item-rev-label">Rev</span>
                    <span class="report-history-report-item-data item-rev-data">{{report._rev}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowTimes()">
                    <span class="report-history-report-item-header item-rev-label">Date</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.report_date}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Client</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.client}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Location</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">LocID</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location_id}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'training' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.training_type}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'training_hours' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.time}}</span>
                  </div>
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="danger" (tap)="deleteOtherReport($event, report, shift)">
                    <ion-icon name="trash"></ion-icon>
                    {{"delete" | translate}}
                  </button>
                </ion-item-options>
              </ion-item-sliding>
              <!--
                // M Training and Travel
                // T Training
                // Q Travel
                // S Standby for Duncan
                // E Sick Day or Sick Hrs
                // H Holiday
                // V Vacation
              -->
              <ion-item-sliding #item{{i}} class="report-history-list-item-sliding" *ngIf="report.type==='Standby'">
                <ion-item class="report-history-list-item" (tap)="itemTapped($event, report, shift)">
                  <div class="report-history-report-item item-group-id" *ngIf="prefs.getShowID()">
                    <span class="report-history-report-item-header item-id-label">ID</span>
                    <span class="report-history-report-item-data item-id-data">{{report._id}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowRev()">
                    <span class="report-history-report-item-header item-rev-label">Rev</span>
                    <span class="report-history-report-item-data item-rev-data">{{report._rev}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowTimes()">
                    <span class="report-history-report-item-header item-rev-label">Date</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.report_date}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Client</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.client}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Location</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">LocID</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location_id}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'standby' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.time}}</span>
                  </div>
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="danger" (tap)="deleteOtherReport($event, report, shift)">
                    <ion-icon name="trash"></ion-icon>
                    {{"delete" | translate}}
                  </button>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding #item{{i}} class="report-history-list-item-sliding" *ngIf="report.type==='Standby: HB Duncan'">
                <ion-item class="report-history-list-item" (tap)="itemTapped($event, report, shift)">
                  <div class="report-history-report-item item-group-id" *ngIf="prefs.getShowID()">
                    <span class="report-history-report-item-header item-id-label">ID</span>
                    <span class="report-history-report-item-data item-id-data">{{report._id}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowRev()">
                    <span class="report-history-report-item-header item-rev-label">Rev</span>
                    <span class="report-history-report-item-data item-rev-data">{{report._rev}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowTimes()">
                    <span class="report-history-report-item-header item-rev-label">Date</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.report_date}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Client</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.client}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Location</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">LocID</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location_id}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'standby_hb_duncan' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.time}}</span>
                  </div>
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="danger" (tap)="deleteOtherReport($event, report, shift)">
                    <ion-icon name="trash"></ion-icon>
                    {{"delete" | translate}}
                  </button>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding #item{{i}} class="report-history-list-item-sliding" *ngIf="report.type==='Sick'">
                <ion-item class="report-history-list-item" (tap)="itemTapped($event, report, shift)">
                  <div class="report-history-report-item item-group-id" *ngIf="prefs.getShowID()">
                    <span class="report-history-report-item-header item-id-label">ID</span>
                    <span class="report-history-report-item-data item-id-data">{{report._id}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowRev()">
                    <span class="report-history-report-item-header item-rev-label">Rev</span>
                    <span class="report-history-report-item-data item-rev-data">{{report._rev}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowTimes()">
                    <span class="report-history-report-item-header item-rev-label">Date</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.report_date}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Client</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.client}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Location</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">LocID</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location_id}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'sick' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.time}}</span>
                  </div>
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="danger" (tap)="deleteOtherReport($event, report, shift)">
                    <ion-icon name="trash"></ion-icon>
                    {{"delete" | translate}}
                  </button>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding #item{{i}} class="report-history-list-item-sliding" *ngIf="report.type==='Vacation'">
                <ion-item class="report-history-list-item" (tap)="itemTapped($event, report, shift)">
                  <div class="report-history-report-item item-group-id" *ngIf="prefs.getShowID()">
                    <span class="report-history-report-item-header item-id-label">ID</span>
                    <span class="report-history-report-item-data item-id-data">{{report._id}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowRev()">
                    <span class="report-history-report-item-header item-rev-label">Rev</span>
                    <span class="report-history-report-item-data item-rev-data">{{report._rev}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowTimes()">
                    <span class="report-history-report-item-header item-rev-label">Date</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.report_date}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Client</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.client}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Location</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">LocID</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location_id}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'vacation' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.time}}</span>
                  </div>
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="danger" (tap)="deleteOtherReport($event, report, shift)">
                    <ion-icon name="trash"></ion-icon>
                    {{"delete" | translate}}
                  </button>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item-sliding #item{{i}} class="report-history-list-item-sliding" *ngIf="report.type==='Holiday'">
                <ion-item class="report-history-list-item" (tap)="itemTapped($event, report, shift)">
                  <div class="report-history-report-item item-group-id" *ngIf="prefs.getShowID()">
                    <span class="report-history-report-item-header item-id-label">ID</span>
                    <span class="report-history-report-item-data item-id-data">{{report._id}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowRev()">
                    <span class="report-history-report-item-header item-rev-label">Rev</span>
                    <span class="report-history-report-item-data item-rev-data">{{report._rev}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowTimes()">
                    <span class="report-history-report-item-header item-rev-label">Date</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.report_date}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Client</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.client}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">Location</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location}}</span>
                  </div>
                  <div class="report-history-report-item item-group-rev" *ngIf="prefs.getShowSite()">
                    <span class="report-history-report-item-header item-rev-label">LocID</span>
                    <span class="report-history-report-item-data item-rev-data">{{report.location_id}}</span>
                  </div>
                  <div class="report-history-report-item">
                    <span class="report-history-report-item-header">{{'holiday' | translate}}&nbsp;&nbsp;</span>
                    <span class="report-history-report-item-data">{{report.time}}</span>
                  </div>
                </ion-item>
                <ion-item-options side="right">
                  <button ion-button color="danger" (tap)="deleteOtherReport($event, report, shift)">
                    <ion-icon name="trash"></ion-icon>
                    {{"delete" | translate}}
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </div>
          </div>
          <div class="report-history-reports-subcontainer" *ngIf="shift.getAllShiftReports().length === 0">
            <ion-item class="report-history-list-item">
              <div class="report-history-no-report">{{'no_reports_for_date' | translate}} </div>
            </ion-item>
          </div>
        </ion-item-group>
      </ion-list>
    </div>
  <!-- </ion-refresher> -->
</ion-content>
<!-- <onsite-tabs></onsite-tabs> -->
