@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 700;
  src: local("RobotoMono-Bold"),
  local("RobotoMono-Bold"),
  url("../assets/fonts/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 700;
  src: local("RobotoMono-BoldItalic"),
  local("RobotoMono-BoldItalic"),
  url("../assets/fonts/RobotoMono-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 300;
  src: local("RobotoMono-Light"),
  local("RobotoMono-Light"),
  url("../assets/fonts/RobotoMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 300;
  src: local("RobotoMono-LightItalic"),
  local("RobotoMono-LightItalic"),
  url("../assets/fonts/RobotoMono-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 500;
  src: local("RobotoMono-Medium"),
  local("RobotoMono-Medium"),
  url("../assets/fonts/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 500;
  src: local("RobotoMono-MediumItalic"),
  local("RobotoMono-MediumItalic"),
  url("../assets/fonts/RobotoMono-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 400;
  src: local("RobotoMono-Regular"),
  local("RobotoMono-Regular"),
  url("../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 400;
  src: local("RobotoMono-Italic"),
  local("RobotoMono-Italic"),
  url("../assets/fonts/RobotoMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 100;
  src: local("RobotoMono-Thin"),
  local("RobotoMono-Thin"),
  url("../assets/fonts/RobotoMono-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 100;
  src: local("RobotoMono-ThinItalic"),
  local("RobotoMono-ThinItalic"),
  url("../assets/fonts/RobotoMono-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato-Black"),
  local("Lato-Black"),
  url("../assets/fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 900;
  src: local("Lato-BlackItalic"),
  local("Lato-BlackItalic"),
  url("../assets/fonts/Lato-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato-Bold"),
  local("Lato-Bold"),
  url("../assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  src: local("Lato-BoldItalic"),
  local("Lato-BoldItalic"),
  url("../assets/fonts/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: local("Lato-Hairline"),
  local("Lato-Hairline"),
  url("../assets/fonts/Lato-Hairline.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 100;
  src: local("Lato-HairlineItalic"),
  local("Lato-HairlineItalic"),
  url("../assets/fonts/Lato-HairlineItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato-Regular"),
  local("Lato-Regular"),
  url("../assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local("Lato-Italic"),
  local("Lato-Italic"),
  url("../assets/fonts/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato-Light"),
  local("Lato-Light"),
  url("../assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: local("Lato-LightItalic"),
  local("Lato-LightItalic"),
  url("../assets/fonts/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Ionicons1";
  src: url("../assets/fonts/ionicons1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("../assets/fonts/AnonymousPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("../assets/fonts/AnonymousPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("../assets/fonts/AnonymousPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("../assets/fonts/AnonymousPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.ionicons1 {
  display: inline-block;
  font-family: "Ionicons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?5085pg');
  src:  url('../assets/fonts/icomoon.eot?5085pg#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?5085pg')  format('truetype'),
    url('../assets/fonts/icomoon.woff?5085pg') format('woff'),
    url('../assets/fonts/icomoon.svg?5085pg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="onsiteicon-"], [class*=" onsiteicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
