page-tech-settings {
  .toolbar-title {
    text-align: center;
  }
  // .xtra-top-padding{
  //   margin-top: 40px;
  // }
  div.scroll-content {
    height: 80%;
    margin-top: 50px;
    padding-bottom: 200px;
    margin-bottom: 300px;
  }

  // .xtra-top-padding {
  //   margin-top: 40px;
  // }

}
