<ion-header>
  <ion-navbar>
    <!-- <ion-title> {{'tech_settings_title' | translate}} </ion-title> -->
    <ion-title class="app-title">
      <span class="app-page-title">{{"tech_settings_title" | translate}}</span>
      <span class="app-user" *ngIf="ud.getTechName()">{{ud.getTechName()}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="xtra-top-padding page-content tech-settings-page-content">
  <form [formGroup]="techSettings" *ngIf="techSettingsReady" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item class="tech-settings-input-item">
        <ion-label class="manual-float-label">{{'tech_settings_first_name' | translate}}</ion-label>
        <ion-input class="user-settings-input" type="text" formControlName="firstName">{{firstName}} </ion-input>
      </ion-item>
      <ion-item class="tech-settings-input-item">
        <ion-label class="manual-float-label">{{'tech_settings_last_name' | translate}}</ion-label>
        <ion-input class="user-settings-input" type="text" formControlName="lastName">{{lastName}} </ion-input>
      </ion-item>
      <ion-item class="tech-settings-select-item">
        <ion-label class="manual-float-label">{{'tech_settings_client' | translate}}</ion-label>
        <ion-select class="user-settings-select" formControlName="client">
          <ion-option *ngFor="let client of clients" [value]="client"> {{client.fullName.toUpperCase()}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="tech-settings-select-item">
        <ion-label class="manual-float-label">{{'tech_settings_location' | translate}}</ion-label>
        <ion-select class="user-settings-select" formControlName="location">
          <ion-option *ngFor="let location of locations" [value]="location"> {{location.fullName.toUpperCase()}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="tech-settings-select-item">
        <ion-label class="manual-float-label">{{'tech_settings_location_id' | translate}}</ion-label>
        <ion-select class="user-settings-select" formControlName="locID">
          <ion-option *ngFor="let locID of locIDs" [value]="locID"> {{locID.fullName.toUpperCase()}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="tech-settings-select-item">
        <ion-label class="manual-float-label">{{'tech_settings_auxiliary_location' | translate}}</ion-label>
        <ion-select class="user-settings-select" formControlName="loc2nd">
          <ion-option *ngFor="let loc2nd of loc2nds" [value]="loc2nd"> {{loc2nd.fullName.toUpperCase()}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="tech-settings-select-item">
        <ion-label class="manual-float-label">{{'tech_settings_shift' | translate}}</ion-label>
        <ion-select class="user-settings-select" formControlName="shift">
          <ion-option *ngFor="let shift of shiftTimes" [value]="shift"> {{shift.fullName.toUpperCase()}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="tech-settings-select-item">
        <ion-label class="manual-float-label">{{'tech_settings_shift_length' | translate}}</ion-label>
        <ion-select class="user-settings-select" formControlName="shiftLength">
          <ion-option *ngFor="let shiftLength of shiftLengths" [value]="shiftLength"> {{shiftLength.fullName.toUpperCase()}} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="tech-settings-select-item">
        <ion-label class="manual-float-label">{{'tech_settings_shift_start_time' | translate}}</ion-label>
        <ion-select class="user-settings-select" formControlName="shiftStartTime">
          <ion-option *ngFor="let shiftStartTime of shiftStartTimes" [value]="shiftStartTime"> {{shiftStartTime.fullName.toUpperCase()}} </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button type="submit" ion-button block color="favorite">{{'update_user' | translate}}</button>
  </form>
</ion-content>
<onsite-tabs></onsite-tabs>
