<ion-footer no-border>
  <ion-toolbar>
    <div id="onsite-nav">
      <button ion-button icon-only [disabled]="tabDisabled" (click)="goHome()">
        <ion-icon [class.hlght]="tabClass[0]" id="tab1" name="home"></ion-icon>
      </button>
      <button ion-button icon-only [disabled]="tabDisabled" (click)="goReport()">
        <ion-icon [class.hlght]="tabClass[1]" id="tab2" name="document"></ion-icon>
      </button>
      <button ion-button icon-only [disabled]="tabDisabled" (click)="goHistory()">
        <ion-icon [class.hlght]="tabClass[2]" id="tab3" name="folder"></ion-icon>
      </button>
      <button ion-button icon-only [disabled]="tabDisabled" (click)="goUser()">
        <ion-icon [class.hlght]="tabClass[3]" id="tab4" name="contact"></ion-icon>
      </button>
      <button ion-button icon-only [disabled]="tabDisabled" (click)="goSettings()">
        <ion-icon [class.hlght]="tabClass[4]" id="tab5" name="settings"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
