<ion-header>
  <ion-navbar>
    <ion-title> {{'messages_title' | translate}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-content message-page-content">
  <ion-card>
    <ion-list no-border>
      <ion-item class="message-header-item message-date">
        <h4 class="message-label">{{'message_date' | translate}}</h4>
        <p class="message-item-text">{{message.getMessageDate().format("MMM DD, YYYY")}}</p>
      </ion-item>
      <ion-item class="message-header-item message-sender">
        <h4 class="message-label">{{'message_from' | translate}}</h4>
        <p class="message-item-text">{{message.getMessageSender()}}</p>
      </ion-item>
      <ion-item class="message-header-item message-subject">
        <h4 class="message-label">{{'message_subject' | translate}}</h4>
        <p class="message-item-text" *ngIf="language!=='es'">{{message.getMessageSubject()}}</p>
        <p class="message-item-text" *ngIf="language==='es'">{{message.getMessageSubjectES()}}</p>
      </ion-item>
      <ion-item class="message-body">
        <h4 class="message-label">{{'english' | translate}}</h4>
        <p class="message-item-body" [innerHTML]="message.getMessageBody()"></p>
      </ion-item>
      <ion-item class="message-body" *ngIf="language==='es'">
        <h4 class="message-label">{{'spanish' | translate}}</h4>
        <p class="message-item-body" [innerHTML]="message.getMessageBodyES()"></p>
      </ion-item>
      <button ion-item color="primary" class="message-done-button"  (tap)="closeMessage()">{{'message_done' | translate}}</button>
    </ion-list>
  </ion-card>
</ion-content>
