<ion-header>

  <ion-navbar>
    <ion-title> {{title}} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="pageReady">
    <ion-item block *ngIf="items && !items.length">No Work Orders Found</ion-item>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.rprtDate}}
      <div class="item-note" item-right>
        {{item.uNum}}
      </div>
    </button>
  </ion-list>
</ion-content>
