page-report-history {
  .frozenToolbar {}
  .reportHeaderList {}
  .scrollList {
    height: 80vh;
  }
  .center {
    text-align: center;
  }
  [item-start] {
    padding-left: 8%;
  }
  .reportListTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
  }
  .reportListHeader {
    font-weight: bold;
  }
  .invisibleIcon {
    visibility: hidden;
  }
  .reportList {}
  .report-history-list-item-sliding {
    cursor: pointer;
     :hover {
      background-color: rgba(0, 0, 128, 0.02);
    }
     :active {
      background-color: rgba(0, 0, 255, 0.3);
    }
  }
  ion-item.report-history-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    div.report-history-report-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .report-history-list-item-icon {
    cursor: pointer;
  }
  .report-history-list-item-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
     :hover {}
     :active {}
  }
  ion-item-divider button.ion-button.icon-only,
  span.button-inner,
  .button-ios,
  .button-md,
  .button-wp {
    // background-color: transparent !important;
    // background: none;
    box-shadow: none;
  }
  ion-icon.shft-num-icon {
    font-size: 25px;
  }
  .report-history-report-item,
  .report-history-report-notes-item {
    flex: 1 0 auto;
    text-align: left;
  }
  .report-history-report-item-header {
    display: inline-block;
    text-align: right;
    font-weight: bold;
  }
  .report-history-report-item-data {
    overflow: hidden;
    text-align: left;
  }
  .report-history-report-date {
    flex: 1 0 auto;
    text-align: center;
  }
  .report-history-unit-number {
    flex: 1 0 auto;
    text-align: center;
  }
  .report-history-no-report {
    flex: 1 0 auto;
    text-align: center;
    font-style: italic;
  }
  .report-history-notes-data {
    text-overflow: ellipsis;
    p {
      max-width: 101px;
      width: 100px;
      text-overflow: ellipsis;
    }
  }
}
