page-report-history {
	.frozenToolbar {

	}

	.reportHeaderList {

	}

	.scrollList {
		height: 80vh;
	}
	.center {
		text-align: center;
	}
	[item-start] {
		padding-left: 8%;
	}
	.reportListTitle {
		text-align: center;
		font-weight: bold;
		font-size: 1.5em;
		color: white;
	}
	.reportListHeader {
		font-weight: bold;
	}
	.invisibleIcon {
		visibility: hidden;
	}
	.reportList {

	}
  .report-history-list-item-sliding {

  }
  .report-history-list-item {
     :hover {
      background-color: rgba(0, 0, 128, 0.02);
    }
     :active {
      background-color: rgba(0, 0, 255, 0.3);
    }
  }
}
