page-report-history {
  ion-navbar {
    box-shadow: 0px 3px 10px 1px rgba(140,140,140,1);
  }
  .flagged-only-icon {
    .flag-icon {
      font-size: 36px;
      transform: rotate(22.5deg);
      // zoom: 0.8;
      position: relative;
      color: rgba(66, 66, 66, 1.0);
      // top: 10px;
    }
    .flagged {
      color: rgba(175, 0, 0, 1.0);
      font-weight: bold;
    }
  }
  .bar-icon {
    font-size: 36px;
  }
  // .frozenToolbar {}
  // .reportHeaderList {}
  .scrollList {
    height: 80vh;
  }
  .center {
    text-align: center;
  }
  [item-start] {
    padding-left: 8%;
  }
  .reportListTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
  }
  .reportListHeader {
    font-weight: bold;
  }

  .date-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: lightgrey;
    .shift-number {
      flex: 0 1 auto;
      font-size: 32px;
      margin-top: -5px;
    }
    .shift-date {
      flex: 0 1 auto;
      font-size: 18px;
    }
    .shift-hours {
      flex: 0 1 auto;
      font-size: 18px;
    }
    .document-icon {
      flex: 0 1 auto;
      font-size: 32px;
      margin-top: 2px;
      font-weight: bold;
      padding: 10px;
    }
  }

  .document-add-button {
    position: relative;
    right: 0;
    i {
      font-size: 32px;
    }
  }
  .invisibleIcon {
    visibility: hidden;
  }
  .report-history-container {
    width: 100%;
  }

  .report-history-list-item-sliding {
    margin-top: 5px;
    cursor: pointer;
    background-color: transparent;
    // &:hover {
    //   background-color: rgba(0, 0, 128, 0.3);
    // }
    // &:active {
    //   background: rgba(0, 0, 255, 0.3);
    // }
    // .ion-item {
    //   // background-color: transparent;
    // }
  }
  .report-wrapper {
    border: 1px dotted lightgrey;
    padding: 2px;
  }
  .report-table {
    table-layout: fixed;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    background-color: white;
    border: 0;
    tr {
      border-bottom: 1px dotted lightgrey;
      &:last-of-type {
        border-bottom: 0;
      }
      td {
        // border: 1px dotted lightgrey;
        &.label {
          font-weight: bold;
          // text-align: right;
          padding-right: 2px;
          width: 72px;
          min-width: 72px;
          max-width: 72px;
          white-space: pre-wrap;
          word-break: normal;
        }
        // &.data {

        // }
        &.label-notes {
          font-weight: bold;
          text-align: left;
          padding-right: 2px;
          align-self: flex-start;
          vertical-align: top;
        }
        &.data-notes {
          // white-space: normal;
          padding-top: 1px;
          padding-bottom: 1px;
          .notes-wrapper {
            display: block;
            background-color: white;
            min-height: 21px;
            max-height: 100px;
            overflow-y: auto;
            white-space: pre-line;
            // border: 1px solid lightgrey;
          }
        }
      }
    }
  }
  $stripe-color-1: rgba(255,128,128,0.25);
  $stripe-color-2: rgba(255,255,255,1.0);
  ion-item.report-history-list-item {
    -webkit-tap-highlight-color: unset !important;
    // background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &.flagged {
      // background-color: rgba(255, 128, 128, 0.5);
      // rgba(255,128,128,0.5), rgba(255,128,128,0.5) 10px,   white 10px,   white 20px
      background: repeating-linear-gradient(
        -45deg,
        $stripe-color-1,
        $stripe-color-1 10px,
        $stripe-color-2 10px,
        $stripe-color-2 20px
      );
    }
    &:active {
      background: rgba(0, 0, 255, 0.3);
    }
    .item-inner {
      background-color: transparent;
      border-bottom: 0 !important;
      .input-wrapper {
        background-color: transparent;
        ion-label {
          background-color: transparent;
          div {
            background-color: transparent;
            span {
              background-color: transparent;
            }
          }
        }
      }
    }
    div.report-history-report-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .report-history-list-item-icon {
    cursor: pointer;
  }
  .report-history-list-item-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .report-history-group-date {
    margin-top: 10px;
    // max-height: 50px;
  }
  .report-history-divider-date {
    // height: 75px;
    max-height: 50px;
  }
  .ionic-button-icon-outline {
    background-color: transparent !important;
    background: none !important;
    box-shadow: none;
    height: 75px !important;
    // max-height: 75px;
    .button-inner {
      padding-left: 15px;
      padding-right: 15px;
      // &:hover {
      //   background-color: rgba(0, 0, 128, 0.3);
      // }
      &:active {
        background-color: rgba(0, 0, 255, 0.5);
        * {
          color: white !important;
        }
      }
    }
    * {
      cursor: pointer;
    }
  }
  .ionic-icon-outline {
    cursor: pointer;
    font-size: 36px;
    &:active {
      color: white !important;
    }
  }
  ion-icon.shft-num-icon {
    font-size: 25px;
  }
  .report-history-report-item,
  .report-history-report-notes-item {
    flex: 1 0 auto;
    text-align: left;
  }
  .report-history-report-item-header {
    display: inline-block;
    text-align: right;
    font-weight: bold;
  }
  .report-history-report-item-data {
    overflow: hidden;
    text-align: left;
  }
  .report-history-report-date {
    flex: 1 0 auto;
    text-align: center;
  }
  .report-history-unit-number {
    flex: 1 0 auto;
    text-align: center;
  }
  .report-history-no-report {
    flex: 1 0 auto;
    text-align: center;
    font-style: italic;
  }
  .report-history-notes-data {
    text-overflow: ellipsis;
    p {
      max-width: 101px;
      width: 100px;
      text-overflow: ellipsis;
    }
  }
  .item-group-id, .item-group-rev {
    font-size: 12px;
  }
  .item-id-label, .item-rev-label {
    margin-right: 5px;
  }
}
