<!--
  Generated template for the FancySelectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="selectDataReady">
  <div class="full-screen-modal">
    <ion-list class="fancy-select">
      <button ion-item class="fancy-select-item" (click)="selectOption(i)" *ngFor="let shift of shifts; let i=index">
      <div class="one-ion-option" [ngClass]="shift.getShiftColor()">
        <div class="shift-svg-number">{{circled_numbers[shift.shift_number]}}</div>
        <div class="shift-text">{{shift.start_time.format("ddd DD")}} ({{'payroll_week' | translate}} {{shift.shift_week.format("MMM DD")}})</div>
      </div>
    </button>
    </ion-list>
  <button ion-button block color="light" (click)="cancel()">{{'cancel' | translate}}</button>
  </div>
</ion-content>
