page-home {
  .logged-in {
    margin-top: 50px;
  }
  .header-exists {
    margin-top: 30px;
  }
  .logout-button {
    // margin-top: 100px;
  }

  ion-title {
    color: red !important;
  }

  .startButtons {
    color: red;
    display: none !important;
  }
  .startSingleButton {
    color: red;
  }
  .startSingleIcon {
    color: red;
  }
  .endButtons {
    color: red;
  }
  .endSingleButton {
    color: red;
  }
  .endSingleIcon {
    color: red;
  }

  .bar-button-md ion-icon, .bar-button-md[icon-only] ion-icon {
    color: grey !important;
    // background: transparent !important;
  }
  p {
    font-size: 14px;
    span.shft-num-icon {
      font-size: 30px;
    }
    span.chk-box-icon {
      // color: darkred;
      font-size: 20px;

      svg {
        width: 20px;
        height: 15px;
      }
    }
    img {
      fill: currentColor;
    }
    svg {
      fill: currentColor;
    }
  }
  .header-close-button {
    color: black !important;
  }
  .hoursUnknown {
    color: blue;
  }
  .hoursComplete {
    color: green;
  }
  .hoursUnder {
    color: darkred;
  }
  .hoursOver {
    color: red;
  }

}
