  body>ion-app>ion-popover>div>div.popover-content>div>page-popover-template>ion-content>div.scroll-content {
    height: 300vh;
  }

  body>ion-app>ion-popover>div>div.popover-content>div>page-popover-template>ion-content>div.scroll-content>button {
    margin-bottom: 1500px;
  }

page-home {
  ion-content > div.scroll-content {
    padding-top: 3px !important;
  }
  p.home-welcome {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
  }
  p.home-date {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: right;
    font-style: italic;
    color: #488aff;
    font-size: 11px;
    line-height: 11px;
    height: 15px;
    padding: 2px;
  }
  .logged-in {
    margin-top: 50px;
  }
  .header-exists {
    margin-top: 30px;
  }
  ion-card.shift-summary {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background-color: transparent;
  }
  ion-title {
    color: red !important;
  }

  .startButtons {
    color: red;
    display: none !important;
  }
  .startSingleButton {
    color: red;
  }
  .startSingleIcon {
    color: red;
  }
  .endButtons {
    color: red;
  }
  .endSingleButton {
    color: red;
  }
  .endSingleIcon {
    color: red;
  }
  ion-content > div.scroll-content > ion-card > ion-list > ion-list-header.blank-list-header.item.list-header {
    border-top: none;
  }
  ion-content > div.scroll-content > ion-card > ion-list > ion-list-header {
    margin-bottom: 0;
  }
  ion-content > div.scroll-content > ion-card > ion-card-header > ion-item.home-card-header-payroll-period-data-item.item.item-block.item-select.input-has-value {
    margin: auto;
    padding: 0;

  }
  ion-card > ion-card-header > ion-item.home-card-header-payroll-period-data-item.item.item-block.item-select.input-has-value > div.item-inner > div > ion-select {
    width: 100% !important;
    max-width: 100vw;
    border: none;
}
  .bar-button-md ion-icon, .bar-button-md[icon-only] ion-icon {
    color: grey !important;
    // background: transparent !important;
  }
  p, ion-item {
    font-size: 14px;
    ion-icon.shft-num-icon {
      font-size: 30px;
      margin-right: 10px;
    }
    span.chk-box-icon,
    ion-icon.chk-box-icon {
      // color: darkred;
      font-size: 20px;

      svg {
        width: 20px;
        height: 20px;
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 8px;
      }
    }
    img {
      fill: currentColor;
    }
    svg {
      fill: currentColor;
    }
  }
  span.normal-txt {
    color: black;
  }
  .header-close-button {
    color: black !important;
  }
  .hoursUnknown {
    color: blue;
  }
  .hoursComplete {
    color: green;
  }
  .hoursUnder {
    color: darkred;
  }
  .hoursOver {
    color: red;
  }
  ion-list>ion-item.ion-item-button-like {
    cursor: pointer;
    :hover {
      background-color: rgba(0, 0, 128, 0.02);
    }
    :active {
      background-color: rgba(0, 0, 255, 0.3);
    }
  }
  .home-card-header-payroll-period {
    text-align: center;
    border-bottom: 1px solid #dedede;
    // margin-bottom: 5px;
  }

  .home-card-header-payroll-period-label-item {
    text-align: center;
  }

  .home-card-header-payroll-period-label-label {
    text-align: center;
  }

  .home-card-header-payroll-period-data-item {
    text-align: center;
    width: 90%;
  }

  .home-card-header-payroll-period-data-select {
    width: 90%;
    max-width: 90%;
  }

  .home-card-body-list {
    margin-top: 1px;
    // border-top: 1px solid #dedede;
  }

  .home-hours-submitted {
    border-bottom: 1px solid #dedede;
    ion-note {
      color: grey;
    }
  }
  .home-hours-extended {
    margin-top: 5px;
    ion-note {
      color: blue;
    }
  }
  .home-hours-training {

    ion-note {
      color: blue;
    }
  }
  .home-hours-travel {
    border-bottom: 1px solid #dedede;
    ion-note {
      color: blue;
    }
  }
  .home-hours-total {
    color: black;
    font-weight: bold;
    margin-top: 5px;
    ion-note {
      color: black;
      font-weight: bold;
    }
  }
  .home-hours-other {
    border-bottom: 1px solid #dedede;
    ion-note {
      color: blue;
    }
  }

  .home-grid-key {
    width: 70%;
    border: 1px solid rgba(230,230,230,1.0);
    padding: 0;
  }
  .home-grid-row {
    border: 1px solid rgba(230,230,230,1.0);
  }
  .home-grid-col1 {
    font-family: "Courier New", monospace;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
  }
  .home-grid-col2 {
    text-align: left;
    padding-top: 6px;
  }
  .home-grid-col4 {
    text-align: left;
    padding-top: 8px;
  }
  .home-grid-key-caption {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  // ion-popover page-popover-template .scroll-content {
  //   height: 300vh;
  //   button {
  //     margin-bottom: 1500px;
  //   }
  // }

}
