page-settings {
  .toolbar-title {
    text-align: center;
  }
    .header-exists {
    margin-top: 50px;
  }

  .perfectly-normal-divider {
    .item-inner {
      .input-wrapper {
        ion-label {
          flex-direction: row;
          justify-content: flex-start;
          align-content: space-between;
        }
      }
    }
  }

  .perfectly-normal-button, .perfectly-normal-button:active {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
  }
  .perfectly-normal-icon {

  }
}
