page-settings {
  .toolbar-title {
    text-align: center;
  }
    .header-exists {
    margin-top: 50px;
  }

  .perfectly-normal-divider {
    .item-inner {
      .input-wrapper {
      }
    }
  }

  .perfectly-normal-button {
    background: transparent;
    box-shadow: 0;

  }
  .perfectly-normal-icon {

  }
}
