<ion-header>
  <ion-navbar>
    <!-- <ion-title> {{'messages_title' | translate}} </ion-title> -->
    <ion-title class="app-title">
      <span class="app-page-title">{{"messages_title" | translate}}</span>
      <span class="app-user" *ngIf="ud.getTechName()">{{ud.getTechName()}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="page-content message-list-page-content" *ngIf="pageReady && messages && !messages.length">
  <ion-item>
    <div class="messages-no-message">{{'messages_no_messages' | translate}}</div>
  </ion-item>
</ion-content>
<ion-content padding class="page-content message-list-page-content" *ngIf="pageReady && messages && messages.length">
  <ion-card class="message-card ion-card-button-like" [ngClass]="{'highlight': !message.read}" *ngFor="let message of messages; let i=index" (tap)="showMessage(message)">
    <ion-list class="message-list">
      <ion-item class="message-list-item">
        <p class="message-list-label">{{'message_date' | translate}}</p>
        <p class="message-list-data">{{message.getMessageDateString()}}</p>
      </ion-item>
      <ion-item class="message-list-item">
        <p class="message-list-label">{{'message_from' | translate}}</p>
        <p class="message-list-data">{{message.getMessageSender()}}</p>
      </ion-item>
      <ion-item class="message-list-item">
        <p class="message-list-label">{{'message_subject' | translate}}</p>
        <p class="message-list-data">{{message.getMessageSubject()}}</p>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
<onsite-tabs></onsite-tabs>
