// Roboto Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html
$roboto-font-path: $font-path !default;
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"),
    local("Roboto-Light"),
    url("#{$roboto-font-path}/roboto-light.ttf") format("truetype"),
    url("#{$roboto-font-path}/roboto-light.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
    local("Roboto-Regular"),
    url("#{$roboto-font-path}/roboto-regular.ttf") format("truetype"),
    url("#{$roboto-font-path}/roboto-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"),
    local("Roboto-Medium"),
    url("#{$roboto-font-path}/roboto-medium.ttf") format("truetype"),
    url("#{$roboto-font-path}/roboto-medium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"),
    local("Roboto-Bold"),
    url("#{$roboto-font-path}/roboto-bold.ttf") format("truetype"),
    url("#{$roboto-font-path}/roboto-bold.woff") format("woff");
}


/**
    RobotoMono-Bold.ttf
    RobotoMono-BoldItalic.ttf
    RobotoMono-Italic.ttf
    RobotoMono-Light.ttf
    RobotoMono-LightItalic.ttf
    RobotoMono-Medium.ttf
    RobotoMono-MediumItalic.ttf
    RobotoMono-Regular.ttf
    RobotoMono-Thin.ttf
    RobotoMono-ThinItalic.ttf
    @font-face {
      font-family: "RobotoMono";
      font-style: normal;
      font-weight: 400;
      src: local("RobotoMono"), local("RobotoMono"), url("#{$roboto-font-path}/RobotoMono.ttf") format("truetype");
    }
 */

@font-face {
    font-family: "RobotoMono";
    font-style: normal;
    font-weight: 700;
    src: local("RobotoMono-Bold"),
    local("RobotoMono-Bold"),
    url("#{$roboto-font-path}/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    font-style: italic;
    font-weight: 700;
    src: local("RobotoMono-BoldItalic"),
    local("RobotoMono-BoldItalic"),
    url("#{$roboto-font-path}/RobotoMono-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    font-style: normal;
    font-weight: 300;
    src: local("RobotoMono-Light"),
    local("RobotoMono-Light"),
    url("#{$roboto-font-path}/RobotoMono-Light.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    font-style: italic;
    font-weight: 300;
    src: local("RobotoMono-LightItalic"),
    local("RobotoMono-LightItalic"),
    url("#{$roboto-font-path}/RobotoMono-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    font-style: normal;
    font-weight: 500;
    src: local("RobotoMono-Medium"),
    local("RobotoMono-Medium"),
    url("#{$roboto-font-path}/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    font-style: italic;
    font-weight: 500;
    src: local("RobotoMono-MediumItalic"),
    local("RobotoMono-MediumItalic"),
    url("#{$roboto-font-path}/RobotoMono-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    font-style: normal;
    font-weight: 400;
    src: local("RobotoMono-Regular"),
    local("RobotoMono-Regular"),
    url("#{$roboto-font-path}/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    font-style: italic;
    font-weight: 400;
    src: local("RobotoMono-Italic"),
    local("RobotoMono-Italic"),
    url("#{$roboto-font-path}/RobotoMono-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    font-style: normal;
    font-weight: 100;
    src: local("RobotoMono-Thin"),
    local("RobotoMono-Thin"),
    url("#{$roboto-font-path}/RobotoMono-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    font-style: italic;
    font-weight: 100;
    src: local("RobotoMono-ThinItalic"),
    local("RobotoMono-ThinItalic"),
    url("#{$roboto-font-path}/RobotoMono-ThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: local("Lato-Black"),
    local("Lato-Black"),
    url("#{$roboto-font-path}/Lato-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 900;
    src: local("Lato-BlackItalic"),
    local("Lato-BlackItalic"),
    url("#{$roboto-font-path}/Lato-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: local("Lato-Bold"),
    local("Lato-Bold"),
    url("#{$roboto-font-path}/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    src: local("Lato-BoldItalic"),
    local("Lato-BoldItalic"),
    url("#{$roboto-font-path}/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 100;
    src: local("Lato-Hairline"),
    local("Lato-Hairline"),
    url("#{$roboto-font-path}/Lato-Hairline.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 100;
    src: local("Lato-HairlineItalic"),
    local("Lato-HairlineItalic"),
    url("#{$roboto-font-path}/Lato-HairlineItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato-Regular"),
    local("Lato-Regular"),
    url("#{$roboto-font-path}/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    src: local("Lato-Italic"),
    local("Lato-Italic"),
    url("#{$roboto-font-path}/Lato-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: local("Lato-Light"),
    local("Lato-Light"),
    url("#{$roboto-font-path}/Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 300;
    src: local("Lato-LightItalic"),
    local("Lato-LightItalic"),
    url("#{$roboto-font-path}/Lato-LightItalic.ttf") format("truetype");
}
