// @import '../components/ion-digit-keyboard/ion-digit-keyboard';
@import '../assets/fonts/onsitex_fonts';
// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// ion-content div.scroll-content{
@mixin button-like-block {
  cursor: pointer;
  @media screen and (min-width:767px), screen and (min-device-width:767px) {
    &:hover {
      background-color: rgba(0, 0, 220, 0.2);
      i, .dual-icon {
        color: white;
      }
    }
  }
  &:active {
    background-color: rgba(0, 0, 220, 0.4);
    i, .dual-icon {
      color: white;
    }
  }
}
@mixin button-like-icon {
  cursor: pointer;
  @media screen and (min-width:767px), screen and (min-device-width:767px) {
    &:hover {
      color: rgba(0, 0, 220, 1.0);
    }
  }
  &:active {
    color: rgba(220, 0, 220, 1.0);
  }
}

@mixin button-like-menu {
  cursor: pointer;
}

.block-button-like {
  @include button-like-block;
}
.icon-button-like {
  @include button-like-icon;
}
.menu-button-like {
  @include button-like-menu;
}

// .ionic-root-nav-element {

// }

ion-content {
  &.page-content {
    margin-top: 56px;
    margin-bottom: 56px;
    height: calc(100% - 56px - 56px);
    // margin-bottom: 55px;
    &.content-ios {
      margin-top: 64px;
      height: calc(100% - 64px - 56px);
    }
  }
  &.content-ios {
    &:not([no-bounce]) {
      &>.scroll-content::before {
        bottom: 0px;
      }
    }
  }
  .scroll-content {
    margin-top: 2px !important;
    padding-top: 3px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    box-shadow: 0px 3px 10px 1px rgba(140,140,140,1);
  }
}
.toolbar-ios {
  height: 56px;
}
.ion-page {
  background-color: #fff;
}
ion-content
ion-app .fixed-content {
  margin-top: unset !important;
  display: none;
}
// .scroll-content {
//   // margin-left: 2px;
//   // margin-right: 2px;
// }
ion-app.ios ion-content > .scroll-content {
  margin-top: unset !important;
}


// ::-webkit-scrollbar {
//   width: 1px;
//   // display: none;
//   opacity: 0;
// }

// // ::-webkit-scrollbar-track {
// //   background: rgba(255, 91, 71, 0.5);
// //   border-left: 4px solid white;
// //   border-right: 4px solid white;
// // }

// &::-webkit-scrollbar-thumb {
//   // width: 4px;
//   // opacity: 0.5;
//   background: #CCCCCC;
//   border-left: 3px solid white;
//   border-right: 3px solid white;
// }
// ::-webkit-scrollbar-thumb {
  // background: rgba(255, 0, 0, 0.25);
  // border-left: 3px solid white;
  // border-right: 3px solid white;
// }

ion-content {
  &.show-scrollbar {
    .scroll-content {
      overflow-y: auto;
      // &::-webkit-scrollbar {
      //   width: 10px;
      //   // display: none;
      //   opacity: 0;
      // }

      // ::-webkit-scrollbar-track {
      //   background: rgba(255, 91, 71, 0.5);
      //   border-left: 4px solid white;
      //   border-right: 4px solid white;
      // }

      // &::-webkit-scrollbar-thumb {
      //   // width: 4px;
      //   // opacity: 0.5;
      //   background: rgba(255, 0, 0, 0.25);
      //   border-left: 3px solid white;
      //   border-right: 3px solid white;
      // }
    }
  }
}


.loading-md .loading-wrapper {
  // border-radius:64px !important;
  border-radius:16px !important;
}

.loading-wrapper {
  background: rgba(250, 250, 250, 0.5) !important;
  box-shadow: rgba(50, 50, 50, 0.5) !important;
  flex-direction: column !important;
  // zoom: 1.5;
}

.loading-spinner {
  // zoom: 2;
  ion-spinner {
    zoom: 1.5;
  }
}

.loading-content {
  color: black;
  background: rgba(250, 250, 250, 1.0) !important;
  font-size: 16px !important;
  font-weight: bold;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
}

@keyframes colorStroke {
   0% {fill: blue;}
  13% {fill: red;}
  26% {fill: green;}
  49% {fill: yellow;}
  68% {fill: green;}
  86% {fill: red;}
  100% {fill: blue;}
}

.spinner-bubbles {
  circle {
      transition: fill 10s ease;
      animation-name: colorStroke !important;
      animation-duration: 10s !important;
      animation-iteration-count: infinite;
    }
  }

.bar-button-md ion-icon {
//   color: white !important;
  background: transparent !important;
  font-size: 3.0em;
}

.bar-button-md[icon-only] ion-icon {
//     color: white !important;
    background: transparent !important;
    font-size: 3.0em;
  }

.alert-message {
  overflow-y: auto;
}
.ion-item-button-like, .ion-button-like {
  cursor: pointer;
  // &:hover {
  //   background-color: rgba(0, 0, 128, 0.02);
  // }
  &:active {
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    span.normal-txt {
      color: white;
    }
  }
}

.app-title {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  .toolbar-title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    .app-page-title {
      display: block;
      flex: 0 1 auto;
      align-self: center;
    }
    .app-user {
      display: block;
      flex: 0 1 auto;
      align-self: center;
      text-align: center;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: blue;
      font-style: italic;
    }
  }
}

.waiting-clock {
  // margin-top: 56px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  --widthA: 350px;
  width: 40vw;
  height: 40vh;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  // min-width: 350px;
  // min-height: 350px;
  // min-width: var(--widthA);
  // min-height: var(--widthA);
  // margin-top: calc(15vh + 56px);
  z-index: -1;


  clock {
    flex: 0 1 auto;
    // height: 100%;
  }
  // margin-left: auto;
  // margin-right: auto;

  // margin-top: calc(50vh - (350px / 1.5));
  // zoom: 0.75;
  // clock {
    // top: -175px;
    // left: -175px;
    // position: absolute;
  // }
  // margin-left: calc(50vw - (350px / 2));
  // margin-top: calc(50vh - (350px /3));
  // padding-left;
  // zoom: calc(var(--widthA) / 700);
}

// ion-app.ios .waiting-clock {
//   // margin-left: calc(50vw - 350px/2);
//   // margin-right: calc(50vw - 350px/2);
// }

// ion-app.ios .scroll-content {
//   // padding-bottom: 100px !important;
//   // margin-top: 10px !important;
// }

// ion-popover.popover-template.popover-ios .scroll-content {
//   // padding-bottom: 150px;
// }
