<!--
  Generated template for the WorkOrder page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="hdrDate"> Today: <span class="date">{{ setDate | date:'EEE, MMM dd yyyy'}}</span>, Time: <span class="time"> {{setDate| date:'HH:mm'}} </span></p>

  <form [formGroup]="workOrderForm" (ngSubmit)="onSubmit()" *ngIf="dataReady">
    <ion-list>
      <!--<ion-item>
        <ion-input type='text' formControlName="timeStamp"></ion-input>
      </ion-item>-->
      <ion-item>
        <ion-label>Shift Date</ion-label>
        <ion-select #shiftDate formControlName="rprtDate">
          <ion-option class="shift-select" *ngFor="let shift of shifts" [value]="selectedShift">{{shift.getShiftDescription()}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Repair Time</ion-label>
        <ion-datetime #repairTimer displayFormat="HH:mm" pickerFormat="HH:mm" minuteValues="00,30" formControlName="repair_time"></ion-datetime>
        <!--<ion-numeric item-content displayFormat="xx:xx" pickerFormat="xx:xx">{{workOrderForm.value.repairTime}}</ion-numeric>-->
        <!--<input ion-numeric item-content displayFormat="xx:xx" pickerFormat="xx:xx" formControlName="repair_time" />-->
      </ion-item>
      <!--<ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime #startTime displayFormat="HH:mm" pickerFormat="HH:mm" minuteValues="00,15,30,45" formControlName="timeStarts"></ion-datetime>
        <ion-datetime #startTime displayFormat="HH:mm" pickerFormat="HH:mm" minuteValues="00,15,30,45"></ion-datetime>
      </ion-item>-->
      <!--<ion-item>
        <ion-label>Job Hours</ion-label>
        <ion-datetime #repairHrs displayFormat="HH:mm" pickerFormat="HH:mm" minuteValues="00,15,30,45" formControlName="repairHrs"></ion-datetime>
      </ion-item>-->
      <ion-item>
        <ion-label>End Time</ion-label>
        <ion-datetime #endTime displayFormat="HH:mm" pickerFormat="HH:mm" minuteValues="00,15,30,45" formControlName="timeEnds"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>UNIT No.</ion-label>
        <ion-input type='text' formControlName='uNum'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>WORK ORDER No.</ion-label>
        <ion-input type='text' formControlName='wONum'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>JOB NOTES:</ion-label>
        <ion-textarea formControlName='notes'></ion-textarea>
      </ion-item>
      <ion-item *ngIf="syncError" class="alert danger">
        <div>Error submitting work order. Please try again.</div>
      </ion-item>
    </ion-list>
    <button type="submit" ion-button block color="favorite">Submit {{title}} </button>
  </form>
</ion-content>


<!--
   placeholder="{{ setDate | date:'EEE, MMM dd yyyy'}}"
   placeholder="{{setDate| date:'HH:mm'}}"
-->