page-work-order {
  .hdrDate {
    font-size: 11px;
    text-align: right;
  }
  .date {
    color: blue;
  }
  .time {
    color: darkblue;
  }
  .fancy-select-caller-button {
    border: 1px solid black;
    width: 100%;
  }
}
