<form           id="onsite-acct" [formGroup]="onsiteUser" (ngSubmit)="onSubmit()">
    <div        class="input-group">
        <label  class="label">First Name: </label>
        <input  type="text"
                class="form-control"
                name="firstName"
                placeholder="First Name"> {{firstName}}
    </div>
    <div        class="input-group">
        <label  class="label">Last Name: </label>
        <input  type="text"
                class="form-control"
                name="lastName"
                placeholder="Last Name"> {{lastName}}
    </div>
    <div        class="input-group">
        <label  class="label">Email: </label>
        <input  type="email"
                class="form-control"
                name="SESAemail"
                placeholder="name@company.com"> {{SESAemail}}
    </div>
    <div        class="input-group">
        <label  class="label">Password: </label>
        <input  type="Password"
                class="form-control"
                name="SESAPassword"
                placeholder="Password"> {{password}}
    </div>
    <button     id="create-acct-button"
                type="submit"
                block=""
                ion-button=""
                class="button-ios-secondary">Create Account</button>
</form>
