<!-- Generated template for the ClockComponent component -->
<div>
  <DIV class="clkbkg"></DIV>
  <DIV class="g1 rotateCog"></DIV>
  <DIV class="g2 rotateGears"></DIV>
  <DIV class="g3"></DIV>
  <DIV class="g4 rotateGears"></DIV>
  <DIV class="g5 rotateGears"></DIV>
  <DIV class="g6 rotateGears2"></DIV>
  <DIV class="g10 rotateGears2"></DIV>
  <DIV class="g8 rotateGears"></DIV>
  <DIV class="g9 rotateGears2"></DIV>
  <DIV class="g10 rotateGears2"></DIV>
  <DIV class="g11"></DIV>
  <DIV class="clock"></DIV>
  <DIV class="secondsHnd rotateSeconds"></DIV>
  <DIV class="minutesHnd rotateMinutes"></DIV>
  <DIV class="hoursHnd rotateHours"> </DIV>
</div>
