<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (tap)="toggleFlag($event)" [disabled]="!report">
        <ion-icon item-end class="flag-icon" [class.flagged]="false" [innerHTML]="SVGIcons.flagcheckered | safe: 'html'" *ngIf="!report"></ion-icon>
        <ion-icon item-end class="flag-icon" [class.flagged]="report.flagged" [innerHTML]="SVGIcons.flagcheckered | safe: 'html'" *ngIf="report"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="app-title">
      <span class="app-page-title">{{title}}</span>
      <span class="app-user" *ngIf="ud.getTechName()">{{ud.getTechName()}}</span>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (tap)="deleteReport(type, $event)" *ngIf="mode=='Edit'">
        <ion-icon class="work-order-delete-button" name="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="page-content report-page-content" (swipe)="tabServ.handleSwipe($event)">
  <div class="data-elements" *ngIf="dataReady && selectedShift">
    <div class="work-order-payroll-hours-header">
      <span class="shift-hours-header" [ngClass]="getShiftHoursStatus(selectedShift)" *ngIf="workOrderForm && workOrderForm.value && workOrderForm.value.selected_shift">
        <span class="shift-label">{{'shift' | translate}}</span> #<span class="shift-number">{{selectedShift.updateShiftNumber()}}</span>
        <span class="shift-label">{{'hours' | translate}}</span>:
        <span class="shift-hours-wrapper" *ngIf="!type || !type.name || (type && type.name && type.name === 'work_report')">
          <span class="shift-hours" *ngIf="mode==='Add'">{{selectedShift.getNormalHours()+currentRepairHours}}</span>
          <span class="shift-hours" *ngIf="mode==='Edit'">{{selectedShift.getNormalHours()}}</span>
        </span>
        <span class="shift-hours-wrapper" *ngIf="type && type.name && type.name !== 'work_report'">
          <span class="shift-hours" *ngIf="mode==='Add'">{{selectedShift.getNormalHours()+currentOtherHours}}</span>
          <span class="shift-hours" *ngIf="mode==='Edit'">{{selectedShift.getNormalHours()}}</span>
        </span>
        <span class="shift-label">{{'of' | translate}}</span>
        <span class="shift-length-wrapper" *ngIf="!type || !type.name || type.name === 'work_report'">
          <span class="shift-hours" *ngIf="selectedShift.getShiftLength()==='S'">{{selectedShift.getShiftLength(currentRepairHours)}}</span>
          <span class="shift-hours" *ngIf="selectedShift.getShiftLength()!=='S'">{{selectedShift.getShiftLength()}}</span>
        </span>
        <span class="shift-length-wrapper" *ngIf="type && type.name && type.name !== 'work_report'">
          <span class="shift-hours" *ngIf="selectedShift.getShiftLength()==='S'">{{selectedShift.getShiftLength(currentOtherHours)}}</span>
          <span class="shift-hours" *ngIf="selectedShift.getShiftLength()!=='S'">{{selectedShift.getShiftLength()}}</span>
        </span>
      </span>
    </div>

    <ion-list>
      <ion-item (tap)="checkPageMode($event)">
        <ion-label>{{'report_type' | translate}}</ion-label>
        <!-- <ion-select [(ngModel)]="report.type" [disabled]="mode==='Edit'" (tap)="checkPageMode()"> -->
        <ion-select [(ngModel)]="type">
          <ion-option *ngFor="let type of selReportType" [value]="type">{{type.name | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item (tap)="showFancySelect($select)" class="item item-button ion-item-button-like">
        <ion-label>{{'shift_date' | translate}}</ion-label>
        <ion-input #shiftDateResults class="shift-date-select-results" [(ngModel)]="selectedShift" (ngModelChange)="updateShift(selectedShift, $event)" readonly>{{selectedShift.toString(translate)}}</ion-input>
        <!-- <ion-input #shiftDateResults [disabled]="shiftDateInputDisabled" class="shift-date-select-results" [value]="selectedShift.toString(translate)"></ion-input> -->
        <ion-icon item-right class="shift-date-select-icon" name="md-arrow-dropdown"></ion-icon>
      </ion-item>
    </ion-list>


    <ion-list class="report-form-list" [ngSwitch]="type.name">

<!-- ******************************************************************************************************************************  -->
<!--WORK REPORT  -->
      <ng-container *ngSwitchCase="null || undefined || 'work_report'">
        <ion-list>
          <span class="report-dev-info" *ngIf="(prefs.getShowID() || prefs.getShowRev() || prefs.getShowTimes() || prefs.getShowSite()) && !ud.isDeveloper()">
            <span class="report-dev-group" *ngIf="prefs.getShowID()"   ><span class="label">ID:</span>      <span class="data">{{report.getReportID()}}</span></span>
            <span class="report-dev-group" *ngIf="prefs.getShowRev()"  ><span class="label">Rev:</span>     <span class="data">{{report._rev}}</span></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><span class="label">Date:</span>    <span class="data">{{report.report_date}}</span></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><span class="label">Start:</span>   <span class="data">{{report.time_start}}</span></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><span class="label">End:</span>     <span class="data">{{report.time_end}}</span></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><span class="label">Client:</span>  <span class="data">{{report.client}}</span></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><span class="label">Location:</span><span class="data">{{report.location}}</span></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><span class="label">LocID:</span>   <span class="data">{{report.location_id}}</span></span>
          </span>
          <span class="report-dev-info" *ngIf="(prefs.getShowID() || prefs.getShowRev() || prefs.getShowTimes() || prefs.getShowSite()) && ud.isDeveloper()">
            <span class="report-dev-group" *ngIf="prefs.getShowID()"   ><span class="label">ID:</span>      <ion-input class="data report-ion-input" [(ngModel)]="report._id"></ion-input></span>
            <span class="report-dev-group" *ngIf="prefs.getShowRev()"  ><span class="label">Rev:</span>     <ion-input class="data report-ion-input" [(ngModel)]="report._rev"></ion-input></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><span class="label">Date:</span>    <ion-input class="data report-ion-input" [(ngModel)]="report.report_date"></ion-input></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><span class="label">Start:</span>   <ion-input class="data report-ion-input" [(ngModel)]="report.time_start"></ion-input></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><span class="label">End:</span>     <ion-input class="data report-ion-input" [(ngModel)]="report.time_end"></ion-input></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><span class="label">Client:</span>  <ion-input class="data report-ion-input" [(ngModel)]="report.client"></ion-input></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><span class="label">Location:</span><ion-input class="data report-ion-input" [(ngModel)]="report.location"></ion-input></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><span class="label">LocID:</span>   <ion-input class="data report-ion-input" [(ngModel)]="report.location_id"></ion-input></span>
          </span>
          <ion-item>
            <ion-label>{{'repair_time' | translate}}</ion-label>
            <ion-multi-picker class="repair-hours-picker" item-content [separator]="':'" [multiPickerColumns]="chooseHours" [(ngModel)]="currentRepairHoursString"></ion-multi-picker>
            <ion-icon item-right class="shift-repair-time-icon" name="md-arrow-dropdown"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label floating>{{'unit_number' | translate}}</ion-label>
            <ion-input #unitNumberInput type="text" [(ngModel)]="report.unit_number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{'work_order_number' | translate}}</ion-label>
            <ion-input #reportNumberInput type="text" [(ngModel)]="report.work_order_number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{'job_notes' | translate}}</ion-label>
            <ion-textarea [(ngModel)]="report.notes"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="syncError" class="alert danger">
            <div>{{'report_submit_error' | translate}}</div>
          </ion-item>
        </ion-list>
      </ng-container>

<!-- TRAVEL  -->
      <ng-container *ngSwitchCase="'travel'">
        <ion-list>
          <span class="report-dev-info" *ngIf="prefs.getShowID() || prefs.getShowRev() || prefs.getShowTimes() || prefs.getShowSite()">
            <span class="report-dev-group" *ngIf="prefs.getShowID()"><p class="report-dev-header">ID:</p><p class="report-dev-data">{{reportOther.getReportID()}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowRev()"><p class="report-dev-header">Rev:</p><p class="report-dev-data">{{reportOther._rev}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><p class="report-dev-header">Date:</p><p class="report-dev-data">{{reportOther.report_date}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Client:</p><p class="report-dev-data">{{reportOther.client}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Location:</p><p class="report-dev-data">{{reportOther.location}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">LocID:</p><p class="report-dev-data">{{reportOther.location_id}}</p></span>
          </span>
          <ion-item>
            <ion-label>{{'travel' | translate}} </ion-label>
            <ion-select [(ngModel)]="report.travel_location">
              <ion-option *ngFor="let travel_location of selTravelLocation" [value]="travel_location">{{travel_location.name | translate}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label class="report-time-label">{{'travel_hours' | translate}} </ion-label>
            <ion-input class="report-time-input" [(ngModel)]="report.time"></ion-input>
          </ion-item>
        </ion-list>
      </ng-container>

<!-- TRAINING  -->
      <ng-container *ngSwitchCase="'training'">
        <ion-list *ngIf="type.name==='training'">
          <span class="report-dev-info" *ngIf="prefs.getShowID() || prefs.getShowRev() || prefs.getShowTimes() || prefs.getShowSite()">
            <span class="report-dev-group" *ngIf="prefs.getShowID()"><p class="report-dev-header">ID:</p><p class="report-dev-data">{{reportOther.getReportID()}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowRev()"><p class="report-dev-header">Rev:</p><p class="report-dev-data">{{reportOther._rev}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><p class="report-dev-header">Date:</p><p class="report-dev-data">{{reportOther.report_date}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Client:</p><p class="report-dev-data">{{reportOther.client}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Location:</p><p class="report-dev-data">{{reportOther.location}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">LocID:</p><p class="report-dev-data">{{reportOther.location_id}}</p></span>
          </span>
          <ion-item>
            <ion-label>{{'training' | translate}}</ion-label>
            <ion-select [(ngModel)]="report.training_type">
                <ion-option *ngFor="let training_type of selTrainingType" [value]="training_type">{{training_type.name | translate}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label class="report-time-label">{{'training_hours' | translate}}</ion-label>
            <ion-input class="report-time-input" [(ngModel)]="report.time" placeholder="2"></ion-input>
          </ion-item>
        </ion-list>
      </ng-container>

<!-- STANDBY (BILLABLE)  -->
      <ng-container *ngSwitchCase="'standby'">
        <ion-list>
          <span class="report-dev-info" *ngIf="prefs.getShowID() || prefs.getShowRev() || prefs.getShowTimes() || prefs.getShowSite()">
            <span class="report-dev-group" *ngIf="prefs.getShowID()"><p class="report-dev-header">ID:</p><p class="report-dev-data">{{reportOther.getReportID()}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowRev()"><p class="report-dev-header">Rev:</p><p class="report-dev-data">{{reportOther._rev}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><p class="report-dev-header">Date:</p><p class="report-dev-data">{{reportOther.report_date}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Client:</p><p class="report-dev-data">{{reportOther.client}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Location:</p><p class="report-dev-data">{{reportOther.location}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">LocID:</p><p class="report-dev-data">{{reportOther.location_id}}</p></span>
          </span>
          <ion-item>
            <ion-label class="report-time-label">{{'standby' | translate}}</ion-label>
            <ion-input class="report-time-input" [(ngModel)]="report.time" type="number" placeholder="8"></ion-input>
          </ion-item>
        </ion-list>
      </ng-container>

<!-- DUNCAN STANDBY  -->
      <ng-container *ngSwitchCase="'standby_hb_duncan'">
        <ion-list>
          <span class="report-dev-info" *ngIf="prefs.getShowID() || prefs.getShowRev() || prefs.getShowTimes() || prefs.getShowSite()">
            <span class="report-dev-group" *ngIf="prefs.getShowID()"><p class="report-dev-header">ID:</p><p class="report-dev-data">{{reportOther.getReportID()}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowRev()"><p class="report-dev-header">Rev:</p><p class="report-dev-data">{{reportOther._rev}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><p class="report-dev-header">Date:</p><p class="report-dev-data">{{reportOther.report_date}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Client:</p><p class="report-dev-data">{{reportOther.client}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Location:</p><p class="report-dev-data">{{reportOther.location}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">LocID:</p><p class="report-dev-data">{{reportOther.location_id}}</p></span>
          </span>
          <ion-item>
            <ion-label class="report-time-label">{{'standby_hb_duncan' | translate}}</ion-label>
            <ion-input class="report-time-input" [(ngModel)]="report.time" placeholder="8"></ion-input>
          </ion-item>
        </ion-list>
      </ng-container>

<!-- SICK TIME  -->
      <ng-container *ngSwitchCase="'sick'">
        <ion-list>
          <span class="report-dev-info" *ngIf="prefs.getShowID() || prefs.getShowRev() || prefs.getShowTimes() || prefs.getShowSite()">
            <span class="report-dev-group" *ngIf="prefs.getShowID()"><p class="report-dev-header">ID:</p><p class="report-dev-data">{{reportOther.getReportID()}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowRev()"><p class="report-dev-header">Rev:</p><p class="report-dev-data">{{reportOther._rev}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><p class="report-dev-header">Date:</p><p class="report-dev-data">{{reportOther.report_date}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Client:</p><p class="report-dev-data">{{reportOther.client}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Location:</p><p class="report-dev-data">{{reportOther.location}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">LocID:</p><p class="report-dev-data">{{reportOther.location_id}}</p></span>
          </span>
          <ion-item>
            <ion-label>{{'all_day' | translate}}</ion-label>
            <ion-toggle [(ngModel)]="report.allDay"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label class="report-time-label">{{'sick_hours' | translate}}</ion-label>
            <ion-input class="report-time-input" [(ngModel)]="report.time" value="8"></ion-input>
          </ion-item>
        </ion-list>
      </ng-container>

<!-- VACATION  -->
      <ng-container *ngSwitchCase="'vacation'">
        <ion-list>
          <span class="report-dev-info" *ngIf="prefs.getShowID() || prefs.getShowRev() || prefs.getShowTimes() || prefs.getShowSite()">
            <span class="report-dev-group" *ngIf="prefs.getShowID()"><p class="report-dev-header">ID:</p><p class="report-dev-data">{{reportOther.getReportID()}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowRev()"><p class="report-dev-header">Rev:</p><p class="report-dev-data">{{reportOther._rev}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><p class="report-dev-header">Date:</p><p class="report-dev-data">{{reportOther.report_date}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Client:</p><p class="report-dev-data">{{reportOther.client}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Location:</p><p class="report-dev-data">{{reportOther.location}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">LocID:</p><p class="report-dev-data">{{reportOther.location_id}}</p></span>
          </span>
          <ion-item>
            <ion-label class="report-time-label">{{'vacation_hours' | translate}}</ion-label>
            <ion-input class="report-time-input" [(ngModel)]="report.time" value="8"></ion-input>
          </ion-item>
        </ion-list>
      </ng-container>

<!-- HOLIDAY  -->
      <ng-container *ngSwitchCase="'holiday'">
        <ion-list>
          <span class="report-dev-info" *ngIf="prefs.getShowID() || prefs.getShowRev() || prefs.getShowTimes() || prefs.getShowSite()">
            <span class="report-dev-group" *ngIf="prefs.getShowID()" ><p class="report-dev-header">ID:</p><p class="report-dev-data">{{reportOther.getReportID()}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowRev()"><p class="report-dev-header">Rev:</p><p class="report-dev-data">{{reportOther._rev}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowTimes()"><p class="report-dev-header">Date:</p><p class="report-dev-data">{{reportOther.report_date}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Client:</p><p class="report-dev-data">{{reportOther.client}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">Location:</p><p class="report-dev-data">{{reportOther.location}}</p></span>
            <span class="report-dev-group" *ngIf="prefs.getShowSite()" ><p class="report-dev-header">LocID:</p><p class="report-dev-data">{{reportOther.location_id}}</p></span>
          </span>
          <ion-item>
            <ion-label class="report-time-label">{{'holiday_hours' | translate}}</ion-label>
            <ion-input class="report-time-input" [(ngModel)]="report.time" value="8"></ion-input>
          </ion-item>
        </ion-list>
      </ng-container>

<!-- ******************************************************************************************************************************  -->
      </ion-list>
      <!-- <button type="submit" ion-button block color="favorite" *ngIf="mode==='Add'">{{'submit_report' | translate}}</button> -->
      <!-- <button type="submit" class="report-button save"   ion-button block color="favorite" *ngIf="mode==='Edit'">{{'save_report' | translate}}</button> -->
      <button type="submit" class="report-button save"   ion-button block color="favorite" (tap)="onSubmit($event)">{{'save_report' | translate}}</button>
      <button type="button" class="report-button cancel" ion-button block color="light" (tap)="cancel($event)">{{'cancel' | translate}}</button>
  </div>
</ion-content>
<!-- <onsite-tabs></onsite-tabs> -->
