
.alert-with-icon {
  // font-size: 24px;
  .alert-icon {
    font-size: 24px;
  }
  .alert-icon::before {
    content: "  ";
  }
  .alert-icon::after {
    content: "  ";
  }
}
.alert-icon {
  font-family: "Ionicons";
}
ion-content {
  .scroll-content {
    overflow-y: auto;
  }
}

page-report-view {
  .flag-icon {
    font-size: 48px;
    transform: rotate(45deg);
    // zoom: 0.8;
    position: relative;
    top: 10px;
  }
  .flagged {
    color: rgba(175, 0, 0, 1.0);
  }
  .flag-badge {
    position: relative;
    left: -18px;
    top: -5px;
    color: black;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    // padding-left: 6px;
    // padding-right: 6px;
    width: 22px;
    border-radius: 15px;
    visibility: hidden;
    &.is-flagged {
      visibility: visible;
      color: white;
      background-color: rgba(255, 0, 0, 0.9);
    }
    .flag-badge-text {
      flex: 0 1 auto;
      font-size: 18px;
      text-align: center;
    }
  }
  .date {
    color: blue;
  }
  .time {
    color: darkblue;
  }
  .fancy-select-caller-button {
    border: 1px solid black;
    width: 100%;
  }
  .ion-item-button-like {
    // &:hover {
    //   background-color: rgba(0, 0, 128, 0.2);
    // }
    &:active {
      // background-color: rgba(0, 0, 255, 0.5);
      ion-label {
        color: white;
      }
      .shift-date-select-results {
        color: white;
      }
    }
  }
  .work-order-payroll-hours-header {
    font-size: 16px;
    // font-size: 11px;
    text-align: right;
  }
  .shift-hours-header {
    font-weight: bold;
  }
  .shift-label {
    font-weight: normal;
  }
  .shift-number {
    font-weight: normal;
  }
  .shift-hours {
    font-weight: bold;
  }
  .report-view-header {
    border-bottom: 3px ridge lightgrey;
  }
  ion-select.report-view-select {
    max-width: unset;
  }
  .data-readonly {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    .label {
      flex: 0 1 auto;
      // color: grey;
      color: rgba(153, 153, 153, 1.0);
      text-align: left;

      // border: 1px dotted lightgrey;
    }
    .data {
      flex: 0 1 auto;
      color: rgba(153, 153, 153, 1.0);
      text-align: right;
      // border: 1px dotted lightgrey;
    }
  }
  .report-form-list {
    ion-item.item-with-full-select {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .manual-float-label {
    flex: 0 0 100%;
    transform: translate3d(0, 0, 0) scale(0.8);
    margin-left: -6px;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 2px;
    min-height: 20px;
  }
  .full-select {
    flex: 0 0 100%;
    width: 100%;
    min-width: 100%;
    // max-width: 80vw;
    min-height: 35px;
    align-self: center;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .input-error {
    background-color: rgba(255, 0, 0, 0.5);
  }

  .shift-date-select-results {
    text-align: left;
    cursor: pointer;
    // width: 80%;
    display: inline-block;
    input {
      cursor: pointer;
      text-align: right;
      opacity: 1 !important;
      // width: 80%;
    }
  }
  // .shift-date-select-icon {
  //   // border: 1px solid black;
  // }
  .work-order-delete-button {
    color: black;
  }
  // .bar-button-md ion-icon, .bar-button-md[icon-only] ion-icon {
  //   // color: grey !important;
  // }

  .red {
    color: red;
  }

  .darkred {
    color: darkred;
  }

  .green {
    color: green;
  }

  .black {
    color: black;
  }
  .report-time-label {
    color: black !important;
    .item-input .label-md {
      color: black;
    }
  }
  .report-time-input input {
    text-align: right;
  }
  .report-dev-info {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    .report-dev-group {
      display: flex;
      flex: 0 1 auto;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      .label {
        flex: 1 0 auto;
        width: 60px;
        max-width: 60px;
        text-align: right;
        font-weight: bold;
        margin: 2px;
      }
      .data {
        flex: 0 1 auto;
        text-overflow: ellipsis;
        margin: 2px;
      }
      .report-ion-input {
        border: 1px dotted lightgrey;
        padding: 2px;
        input {
          margin: 0;
        }
      }
    }
  }
  .report-button {
    margin-bottom: 30px;
    &.save {
      font-family: "Roboto Condensed";
      font-weight: normal;
      min-height: 128px;
      font-size: 42px;
      margin-top: 10px;
    }
    // &.cancel {

    // }
  }
  svg {
    fill: currentColor;
  }
}
