<ion-item>
  <ion-label stacked>{{_labelForI3DTP}}</ion-label>
  <!--<ion3-time-duration-picker #ion3TimeDurationPicker [displayFormat]="displayFormatForIon3TimeDuration" [ngModel]="timeData" (ngModelChange)="updateDate($event)" [class.invalid]="!control.valid && (control.touched||submitAttempt)"></ion3-time-duration-picker>-->
  <!--<ion-input #ion3DurationHourPicker type="text" disabled=true (click)="dateInputManagement()" [ngModel]="displayFormatForIon3TimeDuration(timeData)" (ngModelChange)="updateDate($event)" [class.invalid]="!control.valid && (control.touched||submitAttempt)"></ion-input>
  <ion-input #ion3DurationMinutePicker type="text" disabled=true (click)="dateInputManagement()" [ngModel]="displayFormatForIon3TimeDuration(timeData)" (ngModelChange)="updateDate($event)" [class.invalid]="!control.valid && (control.touched||submitAttempt)"></ion-input>-->
</ion-item>